header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color:rgb(188, 0, 0);
}


#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}


.nav_item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600px;
}

.nav_item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid rgb(228, 3, 3);
}