#home {
    display: flex;
    min-height: calc(100vh - 85px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-fonte);
}

#cta .title span {
    color:var(--color-botao);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-fonte);
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: var(--sombra);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
} 



#banner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: var(--color-formas);
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    .shape {
        display: none;
    }

    #cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {

    #cta_buttons {
        display: flex;
        flex-direction: column;
    }
}