@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte-padrao: 'Roboto Condensed', coursive;
    --fonte-destaque: 'Bebas Neue', coursive;
}

* {
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9ea;
}

section{
    padding: 28px 8%;
}

.btn_default {
    color: white;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c40101;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_default:hover {
    background-color: #e40000;
}

.social_midia_buttons {
    display: flex;
    gap: 18px;
}

.social_midia_buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    font-size: 1.25rem;
    border-radius: 10px;
    color: #c40101;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social_midia_buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section_title {
    color: #c40101;
}

.section_subtitle {
    color: #1d1d1d;
    font-weight: 600px;
}